<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.memuu.share">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 注：小米push 需要的权限 begin -->
    <permission
            android:name="com.memuu.share.permission.MIPUSH_RECEIVE"
            android:protectionLevel="signature" />
    <uses-permission android:name="com.memuu.share.permission.MIPUSH_RECEIVE" />
    <!-- 注：小米push 需要的权限 end -->

    <!-- 注：魅族push 需要的权限 begin -->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息-->

    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE" />

    <permission android:name="com.memuu.share.push.permission.MESSAGE"

                android:protectionLevel="signature"/>

    <uses-permission android:name="com.memuu.share.push.permission.MESSAGE" />

    <!--  兼容flyme3.0配置权限-->

    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />

    <permission android:name="com.memuu.share.permission.C2D_MESSAGE"

                android:protectionLevel="signature">
    </permission>

    <uses-permission android:name="com.memuu.share.permission.C2D_MESSAGE"/>

    <!-- 注：魅族push 需要的权限 end -->

    <!--删除sdk中的一些权限-->
    <uses-permission
            tools:node="remove"
            android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
            tools:node="remove"
            android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
            tools:node="remove"
            android:name="android.permission.WRITE_SETTINGS"/>
    <!--暂时干调了一些和上传头像相关的选取-->
    <uses-permission
            tools:node="remove"
            android:name="android.permission.CAMERA"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:largeHeap="true"
            android:resizeableActivity="true"
            tools:replace="android:allowBackup">

        <activity
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden"
                android:launchMode="singleTask"
                android:theme="@style/ActivityTheme"
                android:name=".RNActivity" />

        <activity-alias
                android:enabled="true"
                android:name=".RNActivity_default"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden"
                android:launchMode="singleTask"
                android:theme="@style/ActivityTheme"
                android:icon="@mipmap/ic_launcher"
                android:targetActivity=".RNActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wanhuadao" />
            </intent-filter>

        </activity-alias>
        <activity-alias
                android:enabled="false"
                android:name=".RNActivity_1111"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:launchMode="singleTask"
                android:theme="@style/ActivityTheme"
                android:icon="@mipmap/ic_launcher_1111"
                android:targetActivity=".RNActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wanhuadao"/>
            </intent-filter>

        </activity-alias>

        <activity
                android:name=".web.WebBridgedActivity"
                android:configChanges="keyboardHidden|orientation"
                android:hardwareAccelerated="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.CStongNoTitle"
                android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
                android:name=".WebLinkActivity"
                android:configChanges="keyboardHidden|orientation"
                android:hardwareAccelerated="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.CStongNoTitle"
                android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--
         解决合并bugly的时候AndroidManifest.xml合并失败的问题！！
        https://github.com/crazycodeboy/TakePhoto/issues/193
        https://www.jianshu.com/p/88a3f8608d6f
        -->

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.memuu.share.FileProvider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <provider
                android:name="com.tencent.mid.api.MidProvider"
                android:authorities="com.memuu.share.TENCENT.MID.V3"
                android:exported="true" >
        </provider>

        <!-- 应用更新 -->
        <activity
                android:name="com.tencent.bugly.beta.ui.BetaActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|locale"
                android:theme="@android:style/Theme.Translucent" />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <activity
                android:name=".wxapi.WXEntryActivity"
                android:label="@string/app_name"
                android:exported="true"
        />

        <!--安卓全面屏适配-->
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
    </application>

</manifest>
